.footer {
  padding: 75px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    color: $default;
  }
}

.btn-up {
  width: 5em;
  height: 5em;
  padding: 0;
  border-radius: 100%;
  // box-shadow: none;
  // background: none;
  // border: 0;
  // box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  color: $dark;
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 3px;
    left: 23px;
  }

  &:hover {
    color: $dark;
  }

  &::before {
    border: 2px solid transparent; // We're animating border-color again
  }

  &:hover::before {
    border-top-color: $dark; // Show borders
    border-right-color: $dark;
    border-bottom-color: $dark;
    transition:
      border-top-color 0.15s linear, // Stagger border appearances
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;
  }

  &::after {
    border: 0 solid transparent;
  }

  &:hover::after {
    border-top: 2px solid $dark; // Shows border
    border-left-width: 2px; // Solid edges, invisible borders
    border-right-width: 2px; // Solid edges, invisible borders
    transform: rotate(270deg); // Rotate around circle
    transition:
      transform 0.4s linear 0s,
      border-left-width 0s linear 0.35s; // Solid edge post-rotation
  }

  &:focus,
  &:active {
    svg {
      stroke: $accent;
    }
  }

}

@media (max-width: 992px) {
  .footer {
    padding: 50px 0;

    &__inner {
      justify-content: space-evenly;
    }

    &__title {
      font-size: 25px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 35px 0;
  }
}

@media (max-width: 640px) {
  .footer {
    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 15px;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 20px 0;

    &__inner {
      flex-wrap: wrap;
    }

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 460px) {
  .footer {
    padding: 0;
  }
}